.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: black !important;
  opacity: 0.8;
}

.products {
  text-align: center;
  padding: 3% 7% 50px;
  height: 550px;
  margin-bottom: 20px;
}

.products h1 {
  text-align: center;
  font-weight: bold;
  font-size: 56px;
}

.iphoneSE h2 {
  text-align: center;
}

.dark {
  color: #fff;
}

.products {
  height: 650px;
}

.SE {
  /*height: 425px;*/
  background-color: #131313;
  /*padding: 20px;*/
}

.products.iphoneSE.dark {
  background-color: rgb(19,19,19);
}

body {
  padding-top: 50px;
}

.se-h2 {
  font-weight: 400;
}

.learn-more-link {
  margin-right: 20px;
}

.linker a {
  font-size: 25px;
}

.linker {
  margin-bottom: 30px;
}

.trade-in {
  color: grey;
  font-weight: 300;
  font-size: 20px;
}

.img-fluid.figure-img.iphone-se-image {
  width: 800px;
  height: 250px;
  border: none;
}

.figure {
  border: none;
}

img {
  width: 900px;
  height: 350px;
  /*border-color: #131313;*/
  /*outline: none;*/
  /*border: nom;*/
  /*border: nono;*/
  border: none;
}

@media only screen and (max-width:450px){
  .iphoneSE-image{
    width: 60%;
    height: 100%;
  }

  .SE h1{
    font-size: 40px;
    font-weight: 600;
  }

  .SE h2{
    font-size: 25px;
  }

  .SE a{
    font-size: 20px;
  }

  .fix-it-felix{
    background-color: #fafafa;
  }

  .iphone11{
    background: none;
  }

  .products{
    height: 550px;
  }
}

.iphone11{
  padding: 0;
}

.iphone-h2{
  font-size: 25px;
}

.iphone-h1{
  font-size: 60px;
  font-weight: bold;
}

.hide{
  display: none;
}

.ipad{
  margin: 0 15% 0 20%;
}

.ipad-pro{
  height: 550px;
}

@media only screen and (min-width:450px) {
  .ipad h1{
    font-size: 20px;
  }
}

.se-image{
  height: 100px;
}

.iphoneSE-image{
  height: 250px;
}

#small-products-wrapper{
  width: 100%;
  margin: 0;
}

.small-products{
  text-align: center;
  height: 580px;
  width: 95%;
  border: 5px solid white;
}

.college-img{
  width: 100%;
}

.college{
  background-color: #F0F0F2;
  padding: 45px;
}

.apple-tv{
  background-image: linear-gradient(#8DC3DB,#A0CEE2);
}